<main class="main-wrapper">
    <div class="rectangle-image"></div>
    <div class="text-container">
        <h1 class="_title">
            {{ "mainPage.aboutUs.title" | translate }}
        </h1>
        <p class="_text-medium">
            {{ "mainPage.aboutUs.description" | translate }}
        </p>
        <a class="_link" routerLink="/about/confession">
            {{ "mainPage.aboutUs.link1" | translate }}
        </a>
        <a class="_link" routerLink="/about/schedule">
            {{ "mainPage.aboutUs.link2" | translate }}
        </a>
        <a class="_link" routerLink="/about/ministers">
            {{ "mainPage.aboutUs.link3" | translate }}
        </a>
        <a class="_link" routerLink="/about/history-of-church">
            {{ "mainPage.aboutUs.link4" | translate }}
        </a>
        <a class="_link" routerLink="/songs">
            {{ "mainPage.aboutUs.link5" | translate }}
        </a>
    </div>
</main>
