@import "design-styles.scss";

.wrapper {
    padding: 5px 20px 20px;

    .title {
        margin-bottom: 10px;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;

        .filter {
            flex: 1 0 25%;
            min-width: 200px;
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            input {
                width: 18px;
                height: 18px;
                margin-right: 8px;
                cursor: pointer;
                filter: saturate(1.25);
            }
        }

        .all {
            flex: 1 1 100%;
        }
    }
}
