@import "design-styles";

:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 0px 37px 0px;

    .content {
        display: flex;
        max-width: 1365px;
        margin: 0 auto;

        .logo-container {
            padding-top: 23px;
            display: inline-block;
            background: none;
            margin-right: 40px;
            display: flex;
            align-items: flex-start;
            outline: none;
        }

        .languages-block {
            flex: 0 1;
            display: flex;
            align-items: flex-start;
            padding: 23px 15px 0;
            height: 100%;
        }

        .pages {
            flex: 1 1 100%;
            display: flex;
            position: relative;
            padding: 18px 0;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            .page-link {
                text-decoration: none;
                transition: color 0.5s;
                border-radius: 4px;

                &.current {
                    color: #cce6f5;
                }

                &:not(.current):hover {
                    color: #c1caca;
                    background-color: #bfcdd917;
                }
            }
        }

        .text {
            margin: 0px 0.2vw;
            cursor: pointer;
            color: white;
            white-space: nowrap;
            font-family: "Roboto";
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            height: max-content;
            padding: 20px 10px;
        }

        .mat-button-toggle-group-appearance-standard {
            border: none;
        }

        .mat-button-toggle-appearance-standard {
            color: #fff;
            background: transparent;
            border: none;
            font-size: 14px;
            transition: color 0.5s;
            text-transform: uppercase;

            ::ng-deep .mat-button-toggle-label-content {
                text-transform: uppercase;
            }
        }

        .mat-button-toggle-checked {
            color: #cce6f5;
            background: transparent;
            font-size: 18px;
        }

        .trigger,
        .linkTrigger {
            display: none;
        }

        .back-btn {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            margin-right: 20px;
            cursor: pointer;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    &.color {
        .logo {
            width: 50px;
            margin-right: 20px;
            cursor: pointer;
            transition: 0.2s linear;
        }

        .logo-text {
            margin-top: 8px;
            height: 37px;
            cursor: pointer;
            transition: 0.2s linear;
        }
        transition: 0.5s linear;
        background-color: #6093bfd9;
    }

    &.noColor {
        transition: 0.2s linear;
        background-color: transparent;
        .logo {
            width: 75px;
            margin-right: 26px;
            cursor: pointer;
            transition: 0.2s linear;
        }

        .logo-text {
            margin-top: 12px;
            height: 57px;
            cursor: pointer;
            transition: 0.2s linear;
        }
    }

    &.songs-header {
        background: $blue-medium;
        position: relative;
        padding: 0px;

        .content-n {
            display: flex;
            align-items: center;

            .logo {
                height: 50px;
                padding-top: 10px;
                margin-right: 10px;
            }

            .songs-title {
                color: #fff;
                font-family: "Roboto Slab";
                font-style: normal;
                font-weight: lighter;
                line-height: 50px;
                font-size: 30px;
                margin: 0;
            }

            .favorite-icon {
                color: #fff;
                margin-left: auto;
                margin-right: 15px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 1450px) {
    .site-header {
        width: 100%;
        .content {
            .text {
                font-size: 14px;
            }
            .languages-block {
                padding: 0px;
                padding-top: 23px;
                position: relative;
            }

            .mat-button-toggle-appearance-standard:not(.mat-button-toggle-checked) {
                display: none;
            }

            .mat-button-toggle-checked {
                color: white;
            }

            .trigger {
                display: block;
                position: absolute;
                width: 48px;
                height: 48px;
                z-index: 1;
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width: 1220px) {
    .site-header {
        .content {
            .logo {
                width: 50px;
                margin-right: 20px;
            }

            .logo-text {
                margin-top: 8px;
                height: 37px;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .site-header {
        .content {
            .logo-text {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .site-header {
        padding: 10px 30px;
        width: 100%;
        .content {
            align-items: center;
            .logo-container {
                margin: 0px;
                padding-top: 0px;
            }
            .logo {
                margin-top: 10px;
                height: 45px;
                width: 100%;
                margin-right: 16px;
                margin-left: 76px;
            }
            .logo-text {
                display: inline;
                margin-top: 12px;
                height: 27px;
                cursor: pointer;
                transition: 0.2s linear;
            }
            .text {
                padding: 20px 10px;
                margin: 0 10px;
                font-size: 12px;
                line-height: 14px;
            }

            .pages {
                justify-content: flex-start;
                position: relative;

                .page-link:not(.current) {
                    display: none;
                }
            }

            .languages-block {
                padding: 0px 15px 0;
            }

            .linkTrigger {
                display: block;
                position: absolute;
                width: 40px;
                height: 40px;
                z-index: 1;
                top: 52%;
                transform: translate(-50%, -50%);
                left: 60px;
                cursor: pointer;
                &__image {
                    width: 40px;
                }
            }

            .back-btn {
                margin-right: 0px;

                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }

    :host ::ng-deep .mat-button-toggle-label-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .site-header {
        padding: 10px 20px;
        .content {
            .logo {
                height: 35px;
                margin-top: 5px;
                margin-right: 8px;
                margin-left: 56px;
            }
            .logo-text {
                margin-top: 6px;
                height: 24px;
                cursor: pointer;
                transition: 0.2s linear;
            }
            .linkTrigger,
            .trigger,
            .linkTrigger__image {
                width: 35px;
                height: 35px;
            }
            .linkTrigger {
                left: 32px;
                top: 50%;
            }

            .languages-block {
                padding: 0px;
            }
        }
    }
}

.text-dropdown {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    text-align: 24px;
    white-space: nowrap;

    &.lang {
        text-transform: uppercase;
        text-align: center;
    }
}
