@import "design-styles.scss";

._sub-page-bg {
    background-color: transparent;
    height: 87px;

    @media screen and (max-width: 1024px) {
        height: 75px;
    }

    @media screen and (max-width: 425px) {
        height: 68px;
    }
}

.wrapper {
    padding: 30px 15px;

    .content-n {
        display: flex;
        flex-direction: column;
        align-items: center;

        ._title {
            color: $blue-dark;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 20px;
            width: 100%;

            .search {
                flex: 3;
            }

            .is-deep-search {
                ::ng-deep .mat-checkbox-frame {
                    border-color: $blue-medium !important;
                }

                &.mat-checkbox-checked {
                    ::ng-deep .mat-checkbox-background {
                        background-color: $blue-medium !important;
                    }
                }
            }

            .topics {
                flex: 2;
            }
        }

        .songs-container {
            padding: 30px 0px;
            color: $blue-dark;
            align-self: flex-start;
            width: 100%;

            .song {
                padding: 8px 15px;
                margin: 0px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;

                &:hover {
                    color: $blue-medium;
                }

                &:nth-child(odd) {
                    background-color: #bfcdd933;
                }
            }

            .controls {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 15px;

                &.header {
                    padding-bottom: 10px;
                    justify-content: flex-start;
                }

                .control-btn {
                    border: none;
                    background-color: transparent;
                    color: $blue-dark;
                    cursor: pointer;

                    .mat-icon {
                        font-size: 30px;
                        height: 30px;
                        width: 30px;
                    }
                }

                .back-btn {
                    margin-right: 10px;
                }
            }

            .song-title {
                font-size: 24px;
            }

            .song-text {
                font-size: 24px;
                padding: 0px 15px 0px 0px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 0px;

        .content-n ._title {
            font-size: 25px;
            margin: 0.8em 0;
            padding: 0 15px;
        }

        form {
            padding: 0px 15px;
        }

        .content-n .songs-container {
            padding: 15px 0;

            .song-title {
                font-size: 18px;
            }

            .song-text {
                font-size: 18px;
            }
        }
    }
}
