<div class="wrapper">
    <div class="content-n">
        <ng-container *ngIf="!(selectedSong$ | async)">
            <form [formGroup]="songsForm" (ngSubmit)="onSubmitForm()">
                <mat-form-field class="form-group search">
                    <input matInput type="search" id="search" name="search" formControlName="search" autocomplete="off"
                        placeholder="Шукати пісню...">
                </mat-form-field>

                <mat-form-field class="form-group topics">
                    <mat-select type="text" id="topics" name="topics" formControlName="topics">
                        <mat-option *ngFor="let topic of topics" [value]="topic">
                            {{topic}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </ng-container>

        <div class="songs-container">
            <ng-container *ngIf="!(selectedSong$ | async)">
                <div class="song _text-medium" *ngFor="let song of songList$ | async" (click)="selectSong(song)">
                    <span>{{song.index}}.</span>
                    &nbsp;
                    <span class="name">{{song.title}}</span>
                    <mat-icon *ngIf="song.isFavorite">favorite</mat-icon>
                </div>

                <div *ngIf="!(songList$ | async)?.length" class="no-songs">
                    Немає пісень за заданими параметрами
                </div>
            </ng-container>

            <div *ngIf="(selectedSong$ | async) as song">
                <div class="controls">
                    <button class="control-btn back-btn" (click)="clearSelectedSong()">
                        <img src="assets/images/arrow.svg" alt="Назад">
                        <span class="_text-small">до списку</span>
                    </button>

                    <button class="control-btn" (click)="decreaseFontSize()">
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                    <button class="control-btn space" (click)="increaseFontSize()">
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                    <button *ngIf="!align" class="control-btn space" (click)="alignText(true)">
                        <mat-icon>format_align_justify</mat-icon>
                    </button>
                    <button *ngIf="align" class="control-btn space" (click)="alignText(false)">
                        <mat-icon>format_align_left</mat-icon>
                    </button>
                    <button *ngIf="song.isFavorite" class="control-btn" (click)="favorite(song.title)">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button *ngIf="!song.isFavorite" class="control-btn" (click)="favorite(song.title)">
                        <mat-icon>favorite_border</mat-icon>
                    </button>
                </div>

                <p *ngIf="song.oldTitle" class="old-title">{{song.oldTitle}}</p>

                <div #songText class="song-text" [innerHTML]="song.text | replaceBr:align" [style.fontSize.px]="fontSize"></div>
            </div>
        </div>
    </div>
</div>
